body {
    font-family: Courier;
}

header.index {
    background-image: url(/assets/img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4, h5 {
    font-weight: bold;
}

.card {
    border: 0px;
}

.card.article {
    height: 475px !important;
}

.card-header {
    background-color: #fff;
    border: 0px;
    font-weight: bold;
}

.cloud {
    background-color: var(--bs-light);;
    padding: 6px 14px;
    border-radius: 15px;
    text-decoration: none;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

article {
    text-align: justify;
    margin: 50px 0px;
    background-color: #fff;
    padding: 100px;
}

article h1 {
    text-align: left;
}

article h3 {
    margin: 35px 0px;
    font-weight: bold;
}

article h4 {
    margin: 25px 0px;
}

article h5 {
    margin: 25px 0px;
}

article pre, article figure {
    margin: 35px 0px;
}

article img {
    margin-bottom: 1rem;
    width: 100%;
}

img.profile {
    width: 40px;
    border-radius: 20px;
}

img.profile-l {
    width: 200px;
    border-radius: 25px;
}

span.blue {
    color: var(--bs-link-color);
    font-weight: bold;
}