<div class="card mb-4 shadow">
    <div class="card-header">Categorías</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 mb-4">
                <a href="#!" class="cloud">Pine script</a>
            </div>
            <div class="col-6 mb-4">
                <a href="#!" class="cloud">Laravel</a>
            </div>
            <div class="col-6 mb-4">
                <a href="#!" class="cloud">Spring boot</a>
            </div>
            <div class="col-6 mb-4">
                <a href="#!" class="cloud">Python</a>
            </div>
            <div class="col-6 mb-4">
                <a href="#!" class="cloud">Clean code</a>
            </div>
        </div>
    </div>
</div>
