<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Developer in βeta</title>
<link rel="icon" type="image/x-icon" href="/developerinbeta/assets/favicon.ico" />
<link rel="stylesheet" href="/developerinbeta/css/default.min.css">
<link rel="stylesheet" href="/developerinbeta/css/atom-one-dark.min.css">
<link href="/developerinbeta/css/core.css" rel="stylesheet" />
<link href="/developerinbeta/css/style.css" rel="stylesheet" />
